
# Task 1: Defining the project topic and RNN models

## Time series and forecasting problems (Sunspots dataset)

### Sunspots are temporary phenomena on the Sun's photosphere that appear as spots darker than the surrounding areas. They are regions of reduced surface temperature caused by concentrations of magnetic field flux that inhibit convection. Sunspots usually appear in pairs of opposite magnetic polarity. Their number varies according to the approximately 11-year solar cycle.

### Due to their link to solar activity, sunspots forecasting is helpful in predict space weather, the state of the ionosphere, and hence the conditions of short-wave radio propagation or satellite communications.

### In this project, a recurrent neural network is constructed to forecast the trend of sunspot number in next months of the year, which can contribute to the plan of space travel or the enhancement of the radio range

### The data exploited in this projects is sunspots dataset extracted from kaggle database, covering monthly mean total sunspot number from 1749/01/01 to 2017/08/31

In [6]:
import kaggle

from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [10]:
api.dataset_download_file('robervalt/sunspots','Sunspots.csv')

True

In [16]:
import pandas as pd

data = pd.read_csv('Sunspots.csv')

In [17]:
data.head()

   Unnamed: 0        Date  Monthly Mean Total Sunspot Number
0           0  1749-01-31                               96.7
1           1  1749-02-28                              104.3
2           2  1749-03-31                              116.7
3           3  1749-04-30                               92.8
4           4  1749-05-31                              141.7

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3265 entries, 0 to 3264
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         3265 non-null   int64
 1   Date                               3265 non-null   object
 2   Monthly Mean Total Sunspot Number  3265 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 76.6+ KB